%p#notice= notice

%p
  %b Provider:
  = @account.provider
%p
  %b Username:
  = @account.username


%h3 Policies on Account
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Number
      %th Insured
      %th Issued

  %tbody
    - @account.policies.order(:issue_date).each do |p|
      %tr{"aria-expanded" => "false", "data-widget" => "expandable-table"}
        %td
          =link_to p.number, policy_path(p)
        %td=p.primary_insureds_name
        %td=p.issue_date



= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
